# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Type checking
.mypy_cache/

# Virtual environments
.venv/
venv/
env/

# uv
uv.lock

*.pdf